html {
  @media (max-width:48rem){
    font-size:10px;
  }
  @media (min-width:48rem) and (max-width:56rem){
    font-size:10px;
  }
  @media (min-width:56rem) and (max-width:62rem){
    font-size:11px;
  }
  @media (min-width:62rem) and (max-width:70rem){
    font-size:11px;
  }
  @media (min-width:70rem) and (max-width:75rem){
    font-size:12px;
  }
  @media (min-width:75rem) and (max-width:80rem){
    font-size:12px;
  }
  @media (min-width:80rem) and (max-width:90rem){
    font-size:14px;
  }
  @media (min-width:90rem) and (max-width:100rem){
    font-size:14px;
  }
  @media (min-width:100rem) and (max-width:110rem){
    font-size:16px;
  }
  @media (min-width:110rem) and (max-width:120rem){
    font-size:16px;
  }
}
